<nav class="flex flex-row">
	<div class="flex w-100>
	</div>
	<ul class="flex flex-row gap-5 mx-5 my-5">
		<li class=""><a href="#" rel="noopener noreferrer">Главная</a></li>
		<li class=""><a href="#" rel="noopener noreferrer">Жатки</a></li>
		<li class=""><a href="#" rel="noopener noreferrer">Доставка</a></li>
		<li class=""><a href="#" rel="noopener noreferrer">Сервисное обслуживание</a></li>
		<li class=""><a href="#" rel="noopener noreferrer">Контакты</a></li>
	</ul>
</nav>
